/* Estilo Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: #dcd9c9;
    height: 100vh;
}

.interface{
    margin: 0 auto;
}
/* Estilo do Cabeçario */

header{
    padding: 10px 1%;
}

header > .interface{
    align-items: center;
    justify-content:center;
}

header > .interface .logo{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: whitesmoke;
    height: 125px;
}

header > .interface .navegadorPaginasDesktop{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: blue;
    height: 50px;
}

header .logo img{
    width: 200px;
    height: 80px;
}

header a {
    color: #2e2e2e;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #000;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}